body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image:url('http://openclipart.org/people/cyberscooty/cyberscooty-winter-landscape.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:100px solid transparent;
  border-radius:10px;
  background: url('http://s3-ec.buzzfed.com/static/2013-11/enhanced/webdr06/21/11/anigif_enhanced-buzz-14375-1385051968-33.gif');
  position:absolute;
  background-repeat:no-repeat;
  background-position: center center;
}
.slider{
  border:100px solid transparent;
  background:url('http://s3-ec.buzzfed.com/static/2013-11/enhanced/webdr01/21/11/anigif_enhanced-buzz-26958-1385050742-12.gif');
  background-repeat:no-repeat;
  background-position: center center;
}
.random{
  border:200px solid transparent;
  background:url('http://media.giphy.com/media/61DWu0CdPah8c/giphy.gif');
  background-repeat:no-repeat;
  background-position: center center;
}
